h1,h2{
    border:1px solid red;
}
span{
    border:1px solid blue;
    width:200px;
    height:200px;
    display:block;
}
html{width:auto}
li{
    border:1px solid black;
    display:inline-block;
    width:150px;


}